.box {
  top: 6.15rem;
  right: 2rem;
  position: absolute;
  width: 23rem;
  height: 24rem;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  /* scroll-behavior: smooth; */
  overflow-y: scroll;
  /* border: 5px solid red; */
}

.header {
  top: 1.9rem;
  right: 2rem;
  position: absolute;
  width: 23rem;
  height: 5rem;
}
.searchclass {
  /* bottom: 5.5rem; */
  bottom: 4.199rem;
  right: 2rem;
  position: absolute;
  width: 23rem;
  height: 5rem;
}
.cross,
.message {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3.7rem;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 0.5rem; */
}
li {
  list-style: none;
  border: 2px solid rgb(248, 172, 32);
  background: rgb(255, 153, 0);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 14rem;
  text-align: center;
  /* padding: 0.5rem 2rem; */
  /* margin-bottom: 0.4rem; */
  font-size: 0.65rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.form {
  width: 100%;
  margin-bottom: 5rem;
}
