#main {
  width: 100%;
  display: flex;
  background: rgb(255, 153, 0);
  padding: 0.5rem;
  padding-left: 1.5rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
img {
  width: 3rem;
}
p {
  color: white;
  font-weight: 900;
  padding-top: 0.7rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}
#main div {
  width: fit-content;
}
